.best-deals-container{
    width: 100%;
    background-color: var(--neutral);
    box-sizing: border-box;
    padding: 2rem;
}

.best-deals-container a{
    text-decoration: none;
}


.best-deals{
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.best-deals h1{
    font-weight: 300;
    color: var(--white);
}