.card-container {
  margin: auto;
  max-width: 17rem;
  min-height: 31rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem;
  border-bottom-right-radius: 1rem;
}

.image-container {
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}

.badge-solid {
  display: inline-block;
  background-color: var(--neutral);
  padding: 0.3rem;
  border-radius: 1rem;
  color: white;
}

.pixsmart-badge {
  position: absolute;
  top: 5%;
  right: 5%;
}
.wishlist-badge {
  position: absolute;
  top: 5%;
  left: 1%;
  border-radius: 50%;
  padding: 0.5rem;
}

.badge-primary {
  background-color: var(--primary);
}

.button-solid-secondary {
  background-color: var(--secondary);
}

.card-image {
  width: 15.7rem;
  height: 15.7rem;
}

.typography {
  box-sizing: border-box;
  padding: 0.5rem;
}

.typography h4 {
  margin: 0px;
  padding-bottom: 1rem;
  width: 60%;
  min-height: 2.5rem;
}

.name-rating-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.rating-container {
  border: 2px solid var(--black);
  width: 4.5rem;
  display: inline-block;
  padding: 0.2rem;
  box-sizing: border-box;
}

.primary-rating {
  color: white;
  border: 0px;
  border-radius: 0.5rem;
  background-color: var(--primary);
}

.rating-container span {
  margin-left: 0.5rem;
}

.pricing {
  height: 2.5rem;
  background-color: whitesmoke;
}

.typography p {
  width: 15rem;
  margin: 0px;
}

.original-price {
  text-decoration: line-through;
}

.discount-rate {
  color: var(--primary);
  font-weight: bold;
}

.action-buttons {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-buttons {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 0.5rem;
}

.quantity-buttons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-outline {
  outline: none;
  width: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.button-secondary {
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.button-secondary:hover {
  color: white;
  background-color: var(--secondary);
}

.button-solid {
  color: white;
  width: 100%;
  outline: none;
  margin: 0.25rem;
  border: 0px;
  padding: 0.5rem;
  font-size: 1rem;
}

.button-solid a {
  color: white;
  text-decoration: none;
}

.button-primary {
  background-color: var(--primary);
}

.badge-failure {
  background-color: var(--failure);
}

@media (min-width: 700px) {
  .card-container {
    margin: 1rem;
  }
}
