.field-title {
  font-weight: 300;
  margin: 0;
}

.preference-container {
  text-align: left;
}

.button-solid {
  color: white;
  width: 95%;
  outline: none;
  margin: 0.25rem;
  border: 0px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.button-primary {
  background-color: var(--primary);
}
