.wishlist-section{
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 70px;
    margin-left: 0rem;
    background-color: whitesmoke;
    margin-bottom: 3rem;
}

.wishlist-section ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: border-box;
}

.wishlist-empty{
    text-align: center;
    width: 100%;
    font-weight: 300;
}