.checkout-container {
  background-image: url("https://res.cloudinary.com/docpuxue8/image/upload/v1616951669/Pixmart/checkout/dan-cristian-padure-ZmrNTMZJfao-unsplash_scdyvs.jpg");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
